<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anje.kelvin.aconting">

    <application
        android:name="com.anje.kelvin.accontingapp.Classes.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Operacoes.Adicionar_despesaActivity"
            android:label="@string/title_activity_adicionar_despesa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.Adicionar_deposito_Activity"
            android:label="@string/title_activity_adicionar_deposito_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Classses.Login_Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Transicoes_Activity"
            android:label="@string/title_activity_transicoes_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".item_stock_Activity"
            android:label="@string/title_activity_add_item_stock_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.adicionar_item_Activity"
            android:label="@string/title_activity_adicionar_item_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.Venda_Activity"
            android:label="@string/title_activity_venda_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Selecionar_item_Activity" />
        <activity android:name=".Operacoes.Adicionar_item_venda_Activity"></activity>
    </application>

</manifest>