<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anje.kelvin.aconting">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.anje.kelvin.accontingapp.Classes.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Operacoes.Adicionar_despesaActivity"
            android:label="Adicionar Despesa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.Adicionar_deposito_Activity"
            android:label="Adicionar Deposito"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.Login_Activity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Operacoes.Venda_Activity"
            android:label="Vender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Operacoes.Adicionar_item_venda_Activity" />
        <activity
            android:name=".Operacoes.RelatorioActivity"
            android:label="Relatorios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Relatorios.RelatoriodeactividadesActivity" />
        <activity android:name=".Relatorios.RelatoriodeDespesas" />
        <activity
            android:name=".Relatorios.Relatorio_de_Despesas_Activity"
            android:label="Relatorio de Despesas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.RegistrarActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Operacoes.Login_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anje.kelvin.aconting.Operacoes.Login_Activity" />
        </activity>
        <activity
            android:name=".Relatorios.Relatorio_de_renda_Activity"
            android:label="Relatorio de Renda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operacoes.Add_item_Activity"
            android:label="Adicionar Item"
            android:parentActivityName=".item_stock_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anje.kelvin.aconting.item_stock_Activity" />
        </activity>
        <activity
            android:name=".Operacoes.Estoque_Activity"
            android:label="Gerir Estoque"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anje.kelvin.aconting.MainActivity" />
        </activity>
        <activity
            android:name=".Operacoes.TransicoesActivity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anje.kelvin.aconting.MainActivity" />
        </activity>
        <activity
            android:name=".Operacoes.Itens_venda_Activity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".Operacoes.Venda_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anje.kelvin.aconting.Operacoes.Venda_Activity" />
        </activity>
        <activity
            android:name=".Relatorio_de_Transicoes_Activity"
            android:label="@string/title_activity_relatorio_de__transicoes_"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>